.body-section {
    background: $neutral-gray;
    margin-bottom: 58px;
    padding-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.summary-card {
    padding: 0.6rem 1rem;
    width: 90%;
    background: white;
    margin-bottom: 0.8rem;
    border: 1px solid $neutral-gray;
    border-radius: 5px;
}

.summary-card ul {
    list-style: none;
}

.summary-card__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $lightness-gray;
}

.summary-card__title {
    font-size: $base-size;
    color: $primary-light;
    font-weight: 600;
}

.summary-card__button {
    background: none;
    border: 1px solid $secondary-dark;
    padding: 0 0.6rem;
    border-radius: 10px;
    color: $secondary-dark;
    font-family: $main-font, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.summary-card__button:active,
.summary-card__button:hover {
    background-color: $secondary-dark;
    color: white;
}

.summary-card__button:focus {
    outline: none;
}

.summary-card__date {
    font-size: 0.8em;
    color: $secondary-dark;
}

.summary-card__content {
    display: flex;
    justify-content: space-between;
}

.shopping-list {
    width: 100%;
}

.shopping-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
