// Colors
$neutral-gray: #e1e2e1;
$lightness-gray: #f5f5f6;
$primary: #37474f;
$primary-light: #62717b;
$primary-dark: #101f27;
$secondary: #b2ebf2;
$secondary-light: #e5ffff;
$secondary-dark: #81b9bf;

// Sizes
$base-size: 16px;
$s-size: 1.125rem;
$m-size: 1.25rem;
$l-size: 1.5rem;
$xl-size: 1.875rem;

$main-font: "asap";
